   body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .titleAdmin{
    display: flex;
    justify-content: center;
  }

  .card-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 3rem;
    border-radius: 10px;
  }
  
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .card-content {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666;
  }

  .cardCheckIn:hover {
    background-color: #aaaaaa;
    border-radius: 10px;
  }
 
  .cardLuggage:hover {
    background-color: #aaaaaa;
    border-radius: 10px;
  }