body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-image: url('../img/fundo.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  font-family: Arial, sans-serif; 
}

.flight-checkout {
  max-width: 80%;
  margin: 5rem auto;
  padding: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.flight-details-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 20px;
  background-color: white;
}

.flight-details-section .left-side, .flight-details-section .right-side {
  width: 48%; 
}

.left-side, .right-side {
  border-radius: 20px;
  padding: 20px;
  
}

.flight-details-section h2, .payment-info-section h2 {
  color: #333;
  margin-bottom: 10px;
}

.flight-details-section p, .payment-info-section div {
  margin-bottom: 10px;
  line-height: 1.5;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"], .form-group input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}


.button-group {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1rem;
  margin: auto;
}

button {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 150px; 
}

button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
}

.cancel-button:hover {
  background-color: #e2271a; 
}

.seat-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-row {
  display: flex;
  justify-content: center;
  position: relative; 
}


.seat-row::before,
.seat-row::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px; 
  background-color: black; 
}

.seat-row::before {
  left: -5px; 
}

.seat-row::after {
  right: -5px;
}

.seat {
  padding: 5px;
  margin: 5px;
  width: 30px;
  height: 30px;
  font-size: 12px;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #4CAF50; 
}

.seat:hover {
  background-color: #45a049;
}

.seat.selected {
  border: 2px solid black;
}

.seat.EMERGENCY_EXIT {
  background-color: #ff6347;
  cursor: not-allowed;
}

.seat.PREFERRED {
  background-color: #ffbf00; 
}

.seat.available {
  background-color: #4CAF50;
}

.seat.preferred {
  background-color: #ffbf00;
}

.seat.emergency-exit {
  background-color: #ff6347;
  cursor: not-allowed;
}

.seat-legends {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

.legend-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px 10px; 
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; 
}

.legend-button:hover {
  opacity: 0.8; 
}

.legend-button.available {
  height: 30px;
  width: 30px;
  background-color: #4CAF50;
}

.legend-button.preferred {
  height: 30px;
  width: 30px;
  background-color: #ffbf00;
}

.legend-button.emergency-exit {
  height: 30px;
  width: 30px;
  background-color: #ff6347;
  cursor: not-allowed; 
}

.seat-legends {
  display: flex;
  justify-content: space-around; 
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 4px; 
  align-items: center;  
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.form-group label {
  flex: 1;
  margin-right: 10px;
  font-weight: bold;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="date"], .form-group input[type="password"] {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.separator {
  width: 1px; 
  background-color: black;
  margin: 0 1rem;
}



/* Aesthetic adjustments */
@media (max-width: 600px) {
  .seat {
    width: 30px;
    height: 30px;
  }
}
