body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    
    background-image: url('../img/fundo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
}
  
.invoice-container {
    max-width: 800px;
    margin: 8rem auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 12px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    height: 100%;
}

.invoice h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px; 
}
  
.invoice .flight-details, .invoice .payment-details {
    padding: 20px;
    margin-bottom: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
  
.invoice .flight-details h2, .invoice .payment-details h2 {
    color: #333;
    margin-bottom: 10px;
}
  
.invoice .flight-details p, .invoice .payment-details p {
    margin-bottom: 10px;
    line-height: 1.5;
}
  
.button-group {
    display: flex;
    justify-content: left;
    gap: 1rem;
}
  
button {
    background-color: #4CAF50;
    
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}
  
button:hover {
    background-color: #45a049;
}
  
.cancel-button {
    background-color: #f44336;
}
  
.cancel-button:hover {
    background-color: #e2271a;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-group button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-group button:first-child {
    background-color: #4CAF50;
}

.button-group button:last-child {
    background-color: #f44336;
}

.button-group button:hover {
    background-color: #45a049;
}

.button-group button:last-child:hover {
    background-color: #e2271a;
}

/* Ajustes responsivos */
@media (max-width: 600px) {
    .invoice-container {
        padding: 10px;
    }
  
    button {
        width: 100%;
    }
}
  