.button-blue {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.button-yellow {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.button-red {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}