/* luggage.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;

}

h1 {
    text-align: center;
    color: #333;
    margin-top: 10rem 
}

.baggage-registration {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.baggage-registration h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.logo-style {
    background-color: rgba(240, 240, 240, 0.5); 
    border-radius: 25px;
    width: auto;
    height: 80%;
}


button[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .baggage-registration {
        padding: 15px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 8px 16px;
    }
}
