/* Navbar.css */
.navbar {
    width: 100%;
    background-color: rgba(180, 180, 180, 0.5); 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
    overflow: hidden;
    display: flex; 
    align-items: center;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding: 0 20px; 
    height: 80px; 
}

.navContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 90px; 
    width: auto;
    margin-right: 5rem;
}

.navItems {
    display: flex;
    align-items: center;
}

.navItems a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    font-size: 1.4rem;
    margin: 0 15px; 
}

.navItems a:hover {
    color: #ffd700;
    border-bottom: 2px solid #ffd700;
}

.navItems a.active {
    color: #ffd700; 
    border-bottom: 2px solid #ffd700; 
}

@media (max-width: 768px) {
    .navItems {
        flex-direction: column;
        height: auto;
    }

    .navItems a {
        padding: 0.5rem 1rem;
    }

    .navbar {
        height: auto;
        padding: 10px 20px; 
    }

    .logo img {
        height: 40px;
    }
}
